<link rel="stylesheet" href="/css/totalboard.css">
<script src="/js/board.js" defer></script>
<div class="totalboard_div">
    <h1>게시판</h1>
    <div>
        <table>
            <thead>
                <tr>
                    <th class="num_th">No</th>
                    <th class="title_th">제목</th>
                    <th class="author_th">글쓴이</th>
                    <th class="create_th">등록날짜</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i = 0; i < boardList.length; i++){
                    let boardInfo = boardList[i];                
                %>
                <tr>
                    <td><%=boardInfo.boardPk%></td>
                    <td onclick="detailPage(<%=boardInfo.boardPk%>)"><%=boardInfo.title%></td>
                    <td><%=boardInfo.name%></td>
                    <td><%=boardInfo.createDate%></td>
                </tr>
                <% } %>
            </tbody>
        </table>
        <div class="page_div">            
            <span class="<% if(page.currentPage == 1){%>disable_evt<%}else{%>cursor_pointer<%}%>" 
                onclick="pagemove(<%=page.currentPage-1%>)">이전</span>
            <% for(let i = 1; i <= page.totalPage; i++){
            %>
                <span class="cursor_pointer" onclick="pagemove(<%=i%>)"><%=i%></span>
            <%} %>
            <span class="<% if(page.currentPage == page.totalPage){%>disable_evt<%}else{%>cursor_pointer<%}%>"
                onclick="pagemove(<%=page.currentPage+1%>)">다음</span>
        </div>
    </div>

</div>